.cart-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.item-details {
  flex: 1;
}

.clear-btn,
.checkout-btn {
  padding: 10px 15px;
  margin-top: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.checkout-btn {
  background: #4caf50;
}
.remove{
  color: #ff4d4d;
  padding: 5px;
  background-color: #ddd;
  border-radius: 5px;
  border: none;
  
}