.login-container {
  width: 380px;
  max-width: 100%;
  padding: 30px;
  border-radius: 12px;
  border: 1px dashed #d3d3d3;
  transition: background 0.3s ease, border 0.3s ease;
  margin: 0 auto;
  margin-top: 2rem;
}

.login-logo {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.login-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 7px;
}

.login-subtitle {
  text-align: center;
  color: grey;
  margin-bottom: 25px;
}

.login-social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-social-buttons button {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  transition: background 0.3s ease;
  font-weight: 500;
}

.login-divider {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: gray;
  position: relative;
}

.login-divider:before,
.login-divider:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 31%;
  border-top: 2px dotted hsl(0, 0%, 40%);
}

.login-divider:before {
  left: 0;
}

.login-divider:after {
  right: 0;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.3s ease;
}

.login-form-group small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background:#2967ed;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #1356e7;
}

.login-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-footer a {
  color:blue; 
  text-decoration: none;
  font-weight: 500;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}
