.wishlist-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.wishlist-card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid rgb(205, 197, 197);
  
}
.wishlist-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.remove-btn {
  background: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}
.empty-wishlist {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}
.wishlist-card h3{
   padding: 10px 0;
   font-size: 20px;

}

.wishlist-card p{
  font-size: 18px;
  color: black;
  font-weight: bold;
} 
.wishlist-link{
  text-decoration: none;
}
